---
import { Image } from "astro:assets"
import { getCollection } from 'astro:content';
import { rankingPostIds } from '@data/article-ranking';
import {getArticlePathBySlug} from '@utils/article';

const rankedArticles = await getCollection('article', ({data}) => {
	return data.isDraft === false
});

const sortedRankedArticles = rankingPostIds.map(id => 
  rankedArticles.find(article => article.id === id)
).filter(article => article !== undefined);
---

<ol class="ranking">
  {
    sortedRankedArticles.map((article) => {
      return (
      <li class="ranking__item">
        <a href={getArticlePathBySlug(article.slug)} class="ranking__link">
          <div class="ranking__thumb">
            <Image src={article.data.thumbnail} alt={article.data.title} width={1600} height={900} />
          </div>
          <p class="ranking__title">{article.data.title}</p>
        </a>
      </li>
      )
    })
  }
</ol>

<style lang="scss">

  .ranking {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include mixin.tab {
      flex-direction: row;
      flex-wrap: wrap;
      gap :4rem;
    }

    @include mixin.sp {
      gap: 2.4rem;
    }

    &__item {
      @include mixin.tab {
        width: calc(50% - 2rem);
      }

      @include mixin.sp {
        width: 100%;
     }
    }

    &__title {
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 1.5;
      margin-top: .8rem;
    }
  }
</style>