---
import { Image } from "astro:assets"
import { getCollection } from 'astro:content';
import { rankingPostIds } from '@data/article-ranking';
import {getArticlePathBySlug} from '@utils/article';

const rankedArticles = await getCollection('article', ({data}) => {
	return data.isDraft === false
});

const sortedRankedArticles = rankingPostIds.map(id => 
  rankedArticles.find(article => article.id === id)
).filter(article => article !== undefined);
---

<ol class="ranking">
  {
    sortedRankedArticles.map((article) => {
      return (
      <li class="ranking__item">
        <a href={getArticlePathBySlug(article.slug)} class="ranking__link">
          <div class="ranking__thumb">
            <Image src={article.data.thumbnail} alt={article.data.title} width={1600} height={900} />
          </div>
          <p class="ranking__title">{article.data.title}</p>
        </a>
      </li>
      )
    })
  }
</ol>

<style lang="scss">

  .ranking {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    counter-reset: ranking;


    @include mixin.tab {
      flex-direction: row;
      flex-wrap: wrap;
      gap :4rem;
    }

    @include mixin.sp {
      gap: 2.4rem;
    }

    &__item {
      position: relative;
      counter-increment: ranking;

      @include mixin.tab {
        width: calc(50% - 2rem);
      }

      @include mixin.sp {
        width: 100%;
     }

    &::before {
        content: counter(ranking);
        width: 2.4rem;
        height: 2.4rem;
        background-color: #5e5e5e;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        font-family: var.$font-en;
        font-weight: bold;
        font-size: 1.4rem;
        color:white;

        @include mixin.sp {
          font-size: 1.2rem;
          width: 2rem;
          height: 2rem;
        }
      }

      &:nth-child(1) {
        &::before {
          background-color: rgb(255, 191, 0);
        }
      }

      &:nth-child(2) {
        &::before {
          background-color: silver;
        }
      }

      &:nth-child(3) {
        &::before {
          background-color: #cd7f32;
        }
      }
    }

    &__title {
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 1.5;
      margin-top: .8rem;
    }
  }
</style>